.pic-container {
  float: left;
}
.content-container {
  overflow: hidden;
}
.about-container {
  display: inline;
}
.list-block {
  display: inline-block;
  padding-right: 80px;
}
.user-profile p {
  width: 650px;
}
.user-profile .text-block {
  width: 650px;
}
